<ion-app>
    <ion-menu side="end" menuId="first" contentId="main" slot="end">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let r of rutas | async" [routerLink]="r.ruta" (click)="cerrarMenu()">
            <ion-icon slot="start" [name]="r.icono" color="primary"></ion-icon>
              {{r.titulo}}
          </ion-item>
  
        </ion-list>
      </ion-content>

      <ion-button  expand="full" (click)="editarAlertConfirm()">Cerrar Sesión</ion-button>

    </ion-menu>
  
    
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-app>
  